*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #313D52;
	background-image:
  url(https://ramlari.com/imagenes/uploads/2020/03/artemisiaportada.jpg);
}


header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: arial,helvetica;
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu bebidas*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/*Submenu alimentos*/

.submenualimentos{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenualimentos li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenualimentos{
	visibility: visible;
	opacity: 1;
}
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	display: grid;
	max-width: 1000px;
	width: 90%;
	margin-left: 11.5em;
	margin-right: auto;
	margin-top:3em ;
	margin-bottom: 3em;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
}
.item{
	background-image: url();
    cursor: pointer;
	box-shadow: 0 0 0px 0 rgb(0, 0, .095);
	transition: all 300ms;
	margin: auto;
	}

.item:hover{
	transform: scale(1.05);
}

.item-text{
	padding: 1em;
}

.item-img{
	max-height: 100%;
	display: block;
	float: left;
}
@media screen and (min-width: 590px){
	.container{
		grid-template-columns: repeat(2, 1fr);
	}
}